<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Aavin<div class="d-flex">
      <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-secondary">Add
        details</button> -->
    </div> </div>
    <div class="page__content shadow ">
      <button class="id"><a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <label >Userstory</label>
      </a></button>
      <button class="id">  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <label >Userstory Status</label> 
      </a></button>
     <button class="id"><a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <label >Issue Tracker</label> 
      </a></button> 
      <hr>
      <div class="page__content-data position-absolute ">
        <table id="tableStyle" class="table">
          <thead class="thead-dark">
            <tr>
              <!-- <th scope="col">Projects</th> -->
              <th scope="col">Epic</th>
              <th scope="col">Role Name</th>
              <th scope="col">As a...</th>
              <th scope="col">I want to...</th>
              <th scope="col">So that...</th>
              <th scope="col">Device</th>
              <th scope="col">Dev Info</th>
              <!-- <th scope="col">Purpose</th>
              <th scope="col">CRUD NAME</th> -->
              
                  
  
            </tr>
          </thead>
          
        </table>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, commodi nobis quos minima harum officia necessitatibus sapiente inventore impedit dolor deleniti magnam ullam, minus asperiores optio quibusdam perspiciatis, veniam iste.</p>        
      </div>
      
        </div>
  </div>