.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;}
.page__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  .page__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    }
    /* .page__content-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
   */
   a{
    color: black;
    
    font-family:Georgia, serif;
    
    border-radius: 20px;}
.id{
  border-radius: 5px;
  margin-top: 05px;
  padding: 1px 203px;
  font-size: 20px;
  
  cursor: pointer;
}
.id{
  background-color:#fff;
}
.id:hover{
  background-color:#94a3b8 ;  
}
